.skills {
  margin: 0 20px;
  height: 60px;
  display: flex;
  flex-direction: column;
  /* align-self: flex-end; */
  align-content: space-between;
}

.score-numbers,
.mod-numbers {
  margin-bottom: 1rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#skill-name {
  font-size: 1.4em;
  text-decoration: underline;
  margin-bottom: 1rem;
}
