.shop {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.shop-main {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
}

.gold {
  position: absolute;
  font-size: 2rem;
  right: -70%;
  top: 6%;
  z-index: 2;
}

h3 {
  margin-bottom: 2rem;
  font-size: 1.4em;
  text-decoration: underline;
}

ul {
  width: 37rem;
  min-width: 37rem;
  height: 50vh;
  overflow-y: scroll;
  background-color: var(--grey);
  padding: 5px;
  border: 4px black solid;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  align-items: baseline;
}

li button {
  margin: 0;
}

.store-cost {
  display: flex;
  flex-direction: column;
}
